
<form [formGroup]="signupForm">
  <label for="first-name">Register As: </label>
  <select name="Role" required="" formControlName="role" class="jsx-2379762061 form-control"><option value="" class="jsx-2379762061">Register as a:</option><option value="web-4" class="jsx-2379762061">Owner</option><option value="web-3" class="jsx-2379762061">Builder</option><option value="web-2" class="jsx-2379762061">Broker</option><option value="web-1" class="jsx-2379762061">Buyer</option></select>
 
  <label for="last-name"> Name: </label>
  <input id="last-name" type="text" formControlName="name">
  <label for="last-name">Email: </label>
  <input id="last-name" type="text" formControlName="email">
  <label for="last-name">Phone: </label>
  <input id="last-name" type="text" formControlName="phone">
  <label for="last-name">Address: </label>
  <input id="last-name" type="text" formControlName="address">
  <label for="last-name">Terms & Conditions: </label>
  <input type="checkbox" name="tnc" id="tnc" formControlName="tnc">

</form>
